fastapi
uvicorn
pandas
numpy
scikit-learn
python-multipart
pydantic
datasketch
optuna
networkx
openai
PyJWT
passlib
slowapi
loguru
prometheus-fastapi-instrumentator
pika
google-generativeai
pymongo
python-dotenv
pytest
torch
