fastapi
uvicorn
sqlalchemy
pandas
numpy
scikit-learn
python-multipart
pydantic
datasketch
optuna
shap
networkx
openai
PyJWT
passlib
bcrypt
slowapi
loguru
prometheus-fastapi-instrumentator
pika
google-generativeai
pymongo
python-dotenv
pytest
