fastapi
uvicorn
sqlalchemy
pandas
numpy
scikit-learn
sentence-transformers
torch
python-multipart
pydantic
transformers
datasketch
optuna
shap
networkx
openai
PyJWT
passlib
bcrypt
slowapi
loguru
prometheus-fastapi-instrumentator
pika
google-generativeai
pymongo
python-dotenv
